<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">
		<link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	</head>

	<body>

		<nav style="z-index: -1;" class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/todos">Home</a>
						</li>
						<li>
							<a href="/todos/create">Add todo</a>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					{% for flash_message in app.session.flashbag.get('notice') %}
						<div class="alert alert-success">{{flash_message}}</div>
					{% endfor %}
					{% for flash_message in app.session.flashbag.get('error') %}
						<div class="alert alert-danger">{{flash_message}}</div>
					{% endfor %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
